.body-style  div[class^="col"] {
  border: 1px solid white;
  background: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
   margin:5px;
   padding:10px;
   background-color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p { word-wrap: break-word; }
